Repository alevelazcode/resilient-order-enricher: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-spotless, java-checkstyle, java-test, go-fmt-fumpt, go-imports, go-vet, go-lint, go-test

java-spotless:
  name: Java Spotless Check
  entry: bash -c 'cd . && ./gradlew spotlessCheck'
  language: system
  pass_filenames: false

java-checkstyle:
  name: Java Checkstyle
  entry: bash -c 'cd . && ./gradlew checkstyleMain checkstyleTest'
  language: system
  pass_filenames: false

java-test:
  name: Java Tests
  entry: bash -c 'cd . && ./gradlew test'
  language: system
  pass_filenames: false

go-fmt-fumpt:
  name: Go Format (gofumpt)
  entry: bash -c 'cd services/enricher-api-go && make check-fumpt'
  language: system
  pass_filenames: false

go-imports:
  name: Go Imports
  entry: bash -c 'cd services/enricher-api-go && make check-imports'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'cd services/enricher-api-go && make vet'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (golangci-lint)
  entry: bash -c 'cd services/enricher-api-go && make lint'
  language: system
  pass_filenames: false

go-test:
  name: Go Tests
  entry: bash -c 'cd services/enricher-api-go && make test'
  language: system
  pass_filenames: false

Fix README.md: Corrected the command to copy the environment sample file from 'env.sample' to '.env'
  README.md
Due: none

Update README.md: Corrected the reference from 'env.sample' to '.env.sample' for clarity in environment configuration instructions
  README.md
Due: none

Update README.md: Changed the repository URL in the clone command for accurate instructions
  README.md
Due: none

Cleanup README.md: Removed the "Happy Coding!" message for a more concise ending.
  README.md
Due: none

Remove version specification from docker-compose.yml for improved compatibility
  docker-compose.yml
Due: none

Add test profile configuration and conditional service activation
  bin/main/application-test.yml
  src/main/java/com/resilient/orderworker/infrastructure/kafka/KafkaConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/mongodb/MongoConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/openapi/OpenApiConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/DistributedLockService.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/MockDistributedLockService.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/RedisConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/RedisDistributedLockService.java
  src/main/java/com/resilient/orderworker/order/consumer/OrderConsumer.java
  src/main/resources/application-test.yml
Due: java-spotless, java-checkstyle, java-test

Add integration tests for OpenAPI endpoints and Swagger functionality
  src/test/java/com/resilient/orderworker/integration/OpenApiEndpointIntegrationTest.java
  src/test/java/com/resilient/orderworker/integration/OpenApiIntegrationTest.java
Due: java-spotless, java-checkstyle, java-test

Add OrderNotFoundException and enhance GlobalExceptionHandler
  src/main/java/com/resilient/orderworker/common/exception/GlobalExceptionHandler.java
  src/main/java/com/resilient/orderworker/common/exception/OrderNotFoundException.java
  src/main/java/com/resilient/orderworker/order/controller/OrderController.java
  src/test/java/com/resilient/orderworker/integration/OpenApiEndpointIntegrationTest.java
  src/test/java/com/resilient/orderworker/order/controller/OrderControllerTest.java
Due: java-spotless, java-checkstyle, java-test

Add automatic formatting setup and fix checkstyle issues
  .editorconfig
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  CODE_QUALITY.md
  Makefile
  README.md
  bin/main/application-prod.yml
  build.gradle.kts
  config/checkstyle/checkstyle.xml
  config/checkstyle/suppressions.xml
  gradle.properties
  scripts/install-tools.sh
  scripts/send-test-message.sh
  scripts/setup-ide-formatting.sh
  scripts/setup-kafka.sh
  services/enricher-api-go/Dockerfile
  services/enricher-api-go/Makefile
  src/main/java/com/resilient/orderworker/common/exception/GlobalExceptionHandler.java
  src/main/java/com/resilient/orderworker/order/controller/OrderController.java
  src/main/resources/application-prod.yml
  src/test/java/com/resilient/orderworker/integration/OpenApiEndpointIntegrationTest.java
  src/test/java/com/resilient/orderworker/integration/OpenApiIntegrationTest.java
Due: java-spotless, java-checkstyle, java-test

Disable problematic pre-commit hooks for push
  .pre-commit-config.yaml
  scripts/setup-ide-formatting.sh
Due: none

Enhance Makefile and README for CI pipeline and technical challenge details
  Makefile
  README.md
  scripts/check-prerequisites.sh
Due: none

Fix Error Prone warnings and failing tests
  services/enricher-api-go/internal/customer/handler.go
  services/enricher-api-go/internal/customer/model.go
  services/enricher-api-go/internal/customer/service.go
  services/enricher-api-go/internal/product/model.go
  src/main/java/com/resilient/orderworker/OrderWorkerApplication.java
  src/main/java/com/resilient/orderworker/common/dto/PageResponse.java
  src/main/java/com/resilient/orderworker/infrastructure/kafka/KafkaConfig.java
  src/main/java/com/resilient/orderworker/order/controller/OrderController.java
  src/main/java/com/resilient/orderworker/order/dto/OrderResponse.java
  src/main/java/com/resilient/orderworker/order/entity/Order.java
  src/main/java/com/resilient/orderworker/order/repository/OrderRepository.java
  src/main/java/com/resilient/orderworker/order/service/OrderProcessingService.java
  src/test/java/com/resilient/orderworker/integration/OpenApiEndpointIntegrationTest.java
  src/test/java/com/resilient/orderworker/integration/OpenApiIntegrationTest.java
  src/test/java/com/resilient/orderworker/order/controller/OrderControllerTest.java
  src/test/java/com/resilient/orderworker/order/service/OrderProcessingServiceTest.java
Due: java-spotless, java-checkstyle, java-test, go-fmt-fumpt, go-imports, go-vet, go-lint, go-test

Implement essential missing requirements
  Makefile
  bin/main/application-test.yml
  bin/main/application.yml
  scripts/load-test.sh
  src/main/java/com/resilient/orderworker/OrderWorkerApplication.java
  src/main/java/com/resilient/orderworker/customer/service/CustomerService.java
  src/main/java/com/resilient/orderworker/infrastructure/cache/CacheConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/mongodb/MongoIndexConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/FailedMessageManager.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/FailedMessageService.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/MockFailedMessageService.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/RedisConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/RedisTemplate.java
  src/main/java/com/resilient/orderworker/infrastructure/scheduler/FailedMessageRetryScheduler.java
  src/main/java/com/resilient/orderworker/order/consumer/OrderConsumer.java
  src/main/java/com/resilient/orderworker/product/service/ProductService.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/com/resilient/orderworker/config/TestConfig.java
  src/test/java/com/resilient/orderworker/integration/OpenApiEndpointIntegrationTest.java
  src/test/java/com/resilient/orderworker/integration/OpenApiIntegrationTest.java
  src/test/java/com/resilient/orderworker/order/controller/OrderControllerTest.java
  src/test/java/com/resilient/orderworker/performance/LoadTest.java
Due: java-spotless, java-checkstyle, java-test

Fix Redisson deprecation warning: replace setRetryInterval with setRetryDelay
  bin/main/application-test.yml
  src/main/java/com/resilient/orderworker/infrastructure/redis/FailedMessageManager.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/MockFailedMessageService.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/RedisConfig.java
  src/main/java/com/resilient/orderworker/order/consumer/OrderConsumer.java
  src/main/resources/application-test.yml
  src/test/java/com/resilient/orderworker/config/TestConfig.java
  src/test/java/com/resilient/orderworker/integration/OpenApiEndpointIntegrationTest.java
  src/test/java/com/resilient/orderworker/integration/OpenApiIntegrationTest.java
  src/test/java/com/resilient/orderworker/order/controller/OrderControllerTest.java
Due: java-spotless, java-checkstyle, java-test

Enhance customer and product models, services, and handlers with detailed documentation
  bin/main/application-test.yml
  src/main/resources/application-test.yml
Due: none

Fix type safety warnings in Mockito tests and resolve Gradle cache issues
  src/test/java/com/resilient/orderworker/integration/OpenApiEndpointIntegrationTest.java
  src/test/java/com/resilient/orderworker/integration/OpenApiIntegrationTest.java
  src/test/java/com/resilient/orderworker/order/service/OrderProcessingServiceTest.java
Due: java-spotless, java-checkstyle, java-test

Add local Docker management targets to Makefile
  Makefile
Due: none

Update Dockerfile and Makefile to include Spotless checks in build process
  Dockerfile
  Makefile
Due: none

Ensure challenge requirements are met: reactive Kafka consumer, WebFlux enrichment with Resilience4j, Mongo persistence, Redis locking and retry scheduler
  docker-compose.yml
  src/main/java/com/resilient/orderworker/OrderWorkerApplication.java
  src/main/java/com/resilient/orderworker/infrastructure/mongodb/MongoConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/MockFailedMessageService.java
  src/main/resources/application-test.yml
  src/test/java/com/resilient/orderworker/config/TestConfig.java
Due: java-spotless, java-checkstyle, java-test

make sure everything implemented works and meets the best standards to date.
  config/checkstyle/suppressions.xml
  src/main/java/com/resilient/orderworker/common/exception/GlobalExceptionHandler.java
  src/main/java/com/resilient/orderworker/customer/service/CustomerService.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/MockDistributedLockService.java
  src/main/java/com/resilient/orderworker/infrastructure/redis/RedisDistributedLockService.java
  src/main/java/com/resilient/orderworker/order/consumer/OrderConsumer.java
  src/main/java/com/resilient/orderworker/order/service/OrderProcessingService.java
  src/main/java/com/resilient/orderworker/product/service/ProductService.java
Due: java-spotless, java-checkstyle, java-test

Refactor build configuration and enhance Makefile verification process
  Makefile
  README.md
  build.gradle.kts
  config/checkstyle/suppressions.xml
  src/test/java/com/resilient/orderworker/integration/OpenApiIntegrationTest.java
Due: java-spotless, java-checkstyle, java-test

Enhance documentation generation in Makefile and README
  Makefile
  README.md
Due: none

chore: modernize Docker, Compose, and Gradle wrapper
  .gitignore
  Dockerfile
  docker-compose.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

docs: rewrite README around the hexagonal architecture
  README.md
Due: none

refactor: tighten SOLID compliance and fix lingering correctness bugs
  README.md
  src/main/java/com/resilient/orderworker/application/port/out/OrderQueryRepository.java
  src/main/java/com/resilient/orderworker/application/port/out/OrderRepository.java
  src/main/java/com/resilient/orderworker/application/service/OrderQueryService.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/rest/OrderController.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/MongoIndexInitializer.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/OrderDocument.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/OrderMongoAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/BackoffPolicy.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/ExponentialBackoffPolicy.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/NoopDistributedLockAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/NoopFailedMessageAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/RedisFailedMessageAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/RedissonDistributedLockAdapter.java
  src/test/java/com/resilient/orderworker/application/service/OrderQueryServiceTest.java
  src/test/java/com/resilient/orderworker/infrastructure/adapter/in/rest/OrderControllerTest.java
  src/test/java/com/resilient/orderworker/infrastructure/adapter/out/redis/ExponentialBackoffPolicyTest.java
Due: java-spotless, java-checkstyle, java-test

chore: trim Makefile and helper scripts, drop stale doc files
  CODE_QUALITY.md
  MAKEFILE_QUICK_REFERENCE.md
  Makefile
  scripts/install-tools.sh
  scripts/load-test.sh
  scripts/send-test-message.sh
  scripts/setup-kafka.sh
Due: none

refactor: harden Kafka pipeline and observability per 2026 senior practices
  README.md
  build.gradle.kts
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/KafkaConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/OrderKafkaConsumer.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/http/CustomerHttpAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/http/ProductHttpAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/RedisFailedMessageAdapter.java
  src/main/resources/application.yml
  src/main/resources/logback-spring.xml
  src/test/java/com/resilient/orderworker/integration/OrderPipelineIntegrationTest.java
  src/test/resources/application-itest.yml
Due: java-spotless, java-checkstyle, java-test

fix: bound consumer processing time and prune stale env vars
  .env.sample
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/OrderKafkaConsumer.java
  src/main/resources/application.yml
Due: java-spotless, java-checkstyle, java-test

refactor: paginate customer-orders endpoint and drop dead read paths
  src/main/java/com/resilient/orderworker/application/port/in/QueryOrdersUseCase.java
  src/main/java/com/resilient/orderworker/application/port/out/OrderQueryRepository.java
  src/main/java/com/resilient/orderworker/application/service/OrderQueryService.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/rest/OrderController.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/OrderMongoAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/SpringDataOrderRepository.java
  src/test/java/com/resilient/orderworker/application/service/OrderQueryServiceTest.java
  src/test/java/com/resilient/orderworker/infrastructure/adapter/in/rest/OrderControllerTest.java
Due: java-spotless, java-checkstyle, java-test

docs: align README with pagination and TimeLimiter changes
  README.md
Due: none

feat: enable Micrometer distributed tracing
  build.gradle.kts
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/http/WebClientConfig.java
  src/main/resources/application.yml
Due: java-spotless, java-checkstyle, java-test

feat: bulkhead, custom health indicator, kafka consumer tests
  README.md
  build.gradle.kts
  src/main/java/com/resilient/orderworker/application/port/out/FailedMessageStore.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/http/CustomerHttpAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/http/ProductHttpAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/NoopFailedMessageAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/NoopFailedMessageStore.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/RedisFailedMessageAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/health/FailedMessageHealthIndicator.java
  src/main/resources/application.yml
  src/test/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/OrderKafkaConsumerTest.java
Due: java-spotless, java-checkstyle, java-test

refactor: typed @ConfigurationProperties, smoke test, CI workflow
  .github/workflows/ci.yml
  config/checkstyle/suppressions.xml
  src/main/java/com/resilient/orderworker/OrderWorkerApplication.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/KafkaConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/KafkaConsumerProperties.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/OrderKafkaConsumer.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/http/EnricherApiProperties.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/http/WebClientConfig.java
  src/test/java/com/resilient/orderworker/ApplicationContextSmokeTest.java
Due: java-spotless, java-checkstyle, java-test

feat: Spring Boot 3.3.13, Kafka DLQ topic, Go service slog rewrite
  build.gradle.kts
  services/enricher-api-go/cmd/server/main.go
  services/enricher-api-go/internal/customer/service.go
  services/enricher-api-go/internal/product/service.go
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/KafkaConfig.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/KafkaConsumerProperties.java
  src/main/resources/application.yml
Due: java-spotless, java-checkstyle, java-test, go-fmt-fumpt, go-imports, go-vet, go-lint, go-test

refactor: stricter SOLID — domain services, composition root, CQRS split
  src/main/java/com/resilient/orderworker/application/port/out/DistributedLock.java
  src/main/java/com/resilient/orderworker/application/port/out/LockKey.java
  src/main/java/com/resilient/orderworker/application/service/OrderProcessor.java
  src/main/java/com/resilient/orderworker/application/service/OrderQueryService.java
  src/main/java/com/resilient/orderworker/domain/order/Order.java
  src/main/java/com/resilient/orderworker/domain/order/OrderAssembler.java
  src/main/java/com/resilient/orderworker/domain/order/OrderValidator.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/OrderMongoCommandAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/OrderMongoQueryAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/NoopDistributedLockAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/RedissonDistributedLockAdapter.java
  src/main/java/com/resilient/orderworker/infrastructure/config/ApplicationServicesConfig.java
  src/test/java/com/resilient/orderworker/application/port/out/LockKeyTest.java
  src/test/java/com/resilient/orderworker/application/service/OrderProcessorTest.java
  src/test/java/com/resilient/orderworker/application/service/OrderQueryServiceTest.java
  src/test/java/com/resilient/orderworker/domain/order/OrderAssemblerTest.java
  src/test/java/com/resilient/orderworker/domain/order/OrderTest.java
  src/test/java/com/resilient/orderworker/domain/order/OrderValidatorTest.java
  src/test/java/com/resilient/orderworker/infrastructure/adapter/in/kafka/OrderKafkaConsumerTest.java
  src/test/java/com/resilient/orderworker/infrastructure/adapter/in/rest/OrderControllerTest.java
Due: java-spotless, java-checkstyle, java-test

test: cover document mapper, mongo adapters, health indicator
  src/test/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/OrderDocumentMapperTest.java
  src/test/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/OrderMongoCommandAdapterTest.java
  src/test/java/com/resilient/orderworker/infrastructure/adapter/out/mongo/OrderMongoQueryAdapterTest.java
  src/test/java/com/resilient/orderworker/infrastructure/health/FailedMessageHealthIndicatorTest.java
Due: java-spotless, java-checkstyle, java-test

fix: tighten edge cases — empty-order race, redis TTL, graceful shutdown
  src/main/java/com/resilient/orderworker/application/service/OrderProcessor.java
  src/main/java/com/resilient/orderworker/infrastructure/adapter/out/redis/RedisFailedMessageAdapter.java
  src/main/resources/application.yml
Due: java-spotless, java-checkstyle, java-test

test: assert idempotency race fails loudly instead of silent ack
  src/test/java/com/resilient/orderworker/application/service/OrderProcessorTest.java
Due: java-spotless, java-checkstyle, java-test

Path conditions:
  java-spotless: any of: \.java$
  java-checkstyle: any of: \.java$
  java-test: any of: \.java$
  go-fmt-fumpt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  go-lint: any of: \.go$
  go-test: any of: \.go$
